.profile__size {
  margin-bottom: 50px;
  min-width: 100%;
}
@media screen and (max-width: 900px) {
  .profile__size {
    min-width: auto;
    margin-bottom: 36px;
    margin-left: calc((100% - 282px) / 2);
    margin-right: calc((100% - 282px) / 2);
  }
}
