.popup__text {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 0;
}

@media screen and (max-width: 900px) {
  .popup__text {
    font-size: 14px;
    line-height: 17px;
    margin-left: 22px;
    margin-right: 22px;
  }
}
